$color-primary: #449ad5;
$color-primary-darken: darken($color: $color-primary, $amount: 6);

$color-secondary: #f1edd4;
$color-danger: #dc3545;
$color-success: #28a745;

$common-font-weight: 700;

$inset-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
$border-rad: 5px;
$transition: .1s ease;
$bg-transition: background-color .1s ease;

$md: 768px;

/* Common - START */
.content 
{
    margin-top: 50px;
    margin-bottom: 80px;
}
/* Common - START */

/* Status Messege - START */
.status-msg-wrap 
{
    width: 100%;
}

.status-msg-body 
{
    background-color: $color-primary;
    border-radius: $border-rad;
    box-shadow: $inset-shadow;
    font-weight: $common-font-weight;
    color: black;
}

.status-msg-border 
{
    border: none;
}

.status-msg-bg 
{
    background: none;
}

.blog-feeds 
{
    display: none;
}
/* Status Messege - END */