$color-primary: #449ad5;
$color-primary-darken: darken($color: $color-primary, $amount: 6);

$color-secondary: #f1edd4;
$color-danger: #dc3545;
$color-success: #28a745;

$common-font-weight: 700;

$box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
$box-shadow-lg: 0px 0px 10px rgba(0, 0, 0, 0.3);
$inset-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
$border-rad: 5px;
$transition: .1s ease;
$transition-lg: .3s ease;
$bg-transition: background-color .1s ease;

$md: 768px;

/* Common - START */
.main-content 
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content .content 
{
    position: relative;
    top: -10px;
}

.main-content .row 
{
    margin-bottom: 50px;
}

.main-content .row .primary-content
{
    margin-top: 10px;
}

/* Common - START */

/* Status Messege - START */
.status-msg-wrap 
{
    width: 100%;
}

.status-msg-wrap 
{
    background-color: $color-primary;
    border-radius: $border-rad;
    box-shadow: $inset-shadow;
    font-weight: $common-font-weight;
    color: white;
}

.status-msg-body a
{
    color: white;
    font-style: italic;
}

.status-msg-border 
{
    border: none;
}

.status-msg-bg 
{
    background: none;
}

.blog-feeds 
{
    display: none;
}
/* Status Messege - END */

/* Search Bar - START */
.BlogSearch .title 
{
    display: none;
}

.BlogSearch table.gsc-search-box td.gsc-input
{
    padding: 0;
}

.BlogSearch input.gsc-search-button, .BlogSearch button.gsc-search-button
{
    margin: 0;
    border-radius: 0px $border-rad $border-rad 0px;
    height: 37px;
}

.BlogSearch input.gsc-input
{
    border: none;
    border-radius: $border-rad 0px 0px $border-rad;
    box-shadow: $inset-shadow;
    padding: 6px 12px;
    outline: none;
    font-size: 1rem;
    height: 37px;
    width: 100%;
}
/* Search Bar - END */

/* Post - START */

.Blog 
{
    margin-top: 10px;
}

.Blog .post-outer .post-list-item, .Blog .post-outer .post-single
{
    background-color: white;
    border-radius: 5px;
    box-shadow: $box-shadow;
    transition: $transition-lg;
}

.Blog .post-outer .post-list-item:hover, .Blog .post-outer .post-single:hover 
{
    box-shadow: $box-shadow-lg;
    transition: $transition-lg;
}

.Blog .post-outer .post-list-item img
{
    width: 100%;
    height: auto;
    border-radius: $border-rad $border-rad 0px 0px;
}

.Blog .post-outer .post-single img
{
    width: 100%;
    height: auto;
    border-radius: $border-rad;
}

.Blog .post-outer .post-list-item .post-title, .Blog .post-outer .post-single .post-title
{
    margin-bottom: 10px;
    font-weight: $common-font-weight;
}

.Blog .post-outer .post-single .post-title 
{
    margin-bottom: 20px;
}

.Blog .post-outer .post .post-title
{
    display: none;
}

.Blog .post-outer .post-list-item .post-snippet, .Blog .post-outer .post-single .post-body 
{
    text-align: justify;
}

.Blog .post-outer .post-list-item .post-snippet
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Blog .post-outer .post-list-item .post-tag, .Blog .post-outer .post-single .post-tag
{
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    border-radius: $border-rad;
    font-weight: $common-font-weight;
    font-size: 15px;
}

.Blog .post-outer .post-list-item .post-date, .Blog .post-outer .post-single .post-date
{
    color: gray;
    font-size: 15px;
    margin-bottom: 5px;
}

.Blog .post-outer .post-list-item .readmore-btn a 
{
    color: white;
}

.Blog .post-outer .post-list-item .readmore-btn a:hover 
{
    text-decoration: none;
}

.Blog .post-outer .post-list-item
{
    margin-bottom: 20px;
}

.Blog .post-outer .post-list-item .post-list-item-content, .Blog .post-outer .post-single 
{
    padding: 20px;
}

.Blog .blog-posts .date-header 
{
    display: none;
}

.Blog .home-link 
{
    display: none;
}

.Blog .post-outer .post h4 
{
    font-weight: $common-font-weight;
}

.hljs 
{
    border-radius: $border-rad;
    margin: 10px 0px;
}

/* Post - END */

/* Side Content - START */

.PopularPosts li 
{
    list-style-type: none;
}

.PopularPosts .item-content 
{
    background-color: #fff;
    border-radius: $border-rad;
    box-shadow: $box-shadow;
    height: 100px;
    color: black;
    transition: $transition-lg;
}

.PopularPosts .item-content:hover 
{
    box-shadow: $box-shadow-lg;
    transition: $transition-lg;
}

.PopularPosts .item-content .item-title 
{
    font-weight: $common-font-weight;
}

.PopularPosts .item-content .item-thumbnail img
{
    width: 100px;
    height: 100px;
    border-radius: $border-rad;
    margin: 0;
}

.PopularPosts .item-content .item-title, .PopularPosts .item-content .item-snippet
{
    margin-right: 10px;
    margin-left: 5px;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.PopularPosts a
{
    text-decoration: none;
}

.PopularPosts .item-content .item-des div
{
    padding: 0px;
}

.PopularPosts h5 
{
    font-weight: $common-font-weight;
}

.PopularPosts
{
    margin-top: 30px;
}

/* Side Content - END */

/* Comment - START */

.Blog .post-comment 
{
    padding: 1rem;
    background-color: white;
    border-radius: $border-rad;
    box-shadow: $box-shadow;
    transition: $transition-lg;
    margin-top: 20px;
}

.Blog .post-comment:hover 
{
    box-shadow: $box-shadow-lg;
    transition: $transition-lg;
}

.Blog .post-comment .post-comment-title 
{  
    font-weight: $common-font-weight;
}

.Blog .post-comment h4 
{
    font-weight: $common-font-weight;
    font-size: inherit;
}

/* Comment - END */