$color-primary: #449ad5;
$color-primary-darken: darken($color: $color-primary, $amount: 6);

$color-secondary: #f1edd4;
$color-danger: #dc3545;
$color-success: #28a745;

$common-font-weight: 700;

$inset-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
$border-rad: 5px;
$transition: .1s ease;
$bg-transition: background-color .1s ease;

$md: 768px;

/* Common - START */
.main-content 
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-content .content 
{
    position: relative;
    top: -10px;
}
/* Common - START */

/* Status Messege - START */
.status-msg-wrap 
{
    width: 100%;
}

.status-msg-body 
{
    background-color: $color-primary;
    border-radius: $border-rad;
    box-shadow: $inset-shadow;
    font-weight: $common-font-weight;
    color: white;
    padding: 0.3em;
}

.status-msg-body a
{
    color: white;
    font-style: italic;
}

.status-msg-border 
{
    border: none;
}

.status-msg-bg 
{
    background: none;
}

.blog-feeds 
{
    display: none;
}
/* Status Messege - END */

/* Search Bar - START */
.BlogSearch .title 
{
    display: none;
}

.BlogSearch table.gsc-search-box td.gsc-input
{
    padding: 0;
}

.BlogSearch input.gsc-search-button, .BlogSearch button.gsc-search-button
{
    margin: 0;
    border-radius: 0px $border-rad $border-rad 0px;
    height: 37px;
}

.BlogSearch input.gsc-input
{
    border: none;
    border-radius: $border-rad 0px 0px $border-rad;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    padding: 6px 12px;
    outline: none;
    font-size: 1rem;
    height: 37px;
    width: 100%;
}
/* Search Bar - END */