/* Common - START */
.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-content .content {
  position: relative;
  top: -10px;
}

/* Common - START */
/* Status Messege - START */
.status-msg-wrap {
  width: 100%;
}

.status-msg-body {
  background-color: #449ad5;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  font-weight: 700;
  color: white;
  padding: 0.3em;
}

.status-msg-body a {
  color: white;
  font-style: italic;
}

.status-msg-border {
  border: none;
}

.status-msg-bg {
  background: none;
}

.blog-feeds {
  display: none;
}

/* Status Messege - END */
/* Search Bar - START */
.BlogSearch .title {
  display: none;
}

.BlogSearch table.gsc-search-box td.gsc-input {
  padding: 0;
}

.BlogSearch input.gsc-search-button, .BlogSearch button.gsc-search-button {
  margin: 0;
  border-radius: 0px 5px 5px 0px;
  height: 37px;
}

.BlogSearch input.gsc-input {
  border: none;
  border-radius: 5px 0px 0px 5px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  outline: none;
  font-size: 1rem;
  height: 37px;
  width: 100%;
}

/* Search Bar - END */
/* Post - START */
.Blog .post-outer .post-list-item, .Blog .post-outer .post-single {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.Blog .post-outer .post-list-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.Blog .post-outer .post-single img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.Blog .post-outer .post-list-item .post-title, .Blog .post-outer .post-single .post-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.Blog .post-outer .post-single .post-title {
  margin-bottom: 20px;
}

.Blog .post-outer .post .post-title {
  display: none;
}

.Blog .post-outer .post-list-item .post-snippet, .Blog .post-outer .post-single .post-body {
  text-align: justify;
}

.Blog .post-outer .post-list-item .post-snippet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Blog .post-outer .post-list-item .post-tag, .Blog .post-outer .post-single .post-tag {
  color: white;
  background-color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

.Blog .post-outer .post-list-item .post-date, .Blog .post-outer .post-single .post-date {
  color: gray;
  font-size: 15px;
  margin-bottom: 5px;
}

.Blog .post-outer .post-list-item .readmore-btn a {
  color: white;
}

.Blog .post-outer .post-list-item .readmore-btn a:hover {
  text-decoration: none;
}

.Blog .post-outer .post-list-item {
  margin-bottom: 20px;
}

.Blog .post-outer .post-list-item .post-list-item-content, .Blog .post-outer .post-single {
  padding: 20px;
}

.Blog .blog-posts .date-header {
  display: none;
}

/* Post - END */
/* Side Content - START */
.PopularPosts li {
  list-style-type: none;
}

.PopularPosts .item-content {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}

.PopularPosts .item-content .item-title, .PopularPosts .item-content .item-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Side Content - END */
/*# sourceMappingURL=blog.css.map */